@font-face {
  font-family: 'CGaramond';
  src: url(~/fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: 'CGaramond-Semi';
    src: url(~/fonts/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src:url(../fonts/AvenirNext-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url(../fonts/AvenirHeavy.ttf);
}
@font-face {
  font-family: 'AvenirDemi';
  src: url(../fonts/AvenirNext-DemiBold.ttf);
}

@page {
  size: 8in 11.5in;
  margin: 0.5in 0.5in 0.5in 0.5in;
}
body{
  font-family: 'Avenir', sans-serif;
  margin: 0px;
  background: rgba(245,245,245,1);
  color: #181A1B;
  font-size: 12px;
  line-height: 1.45;
  text-rendering: optimizeLegiility;
}
.webview{
  margin: 20px 0;
}
.pageview {
  overflow: hidden;
  width: 8.5in;
  height: 11in;
  padding: 0.5in;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.page{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.8;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  align-self: flex-start;
  order:1;
  align-items: baseline;
}
.header__title{
  font-size: 16px;
}
.header__name{
  font-family: 'CGaramond-Semi';
  font-weight: 600;
  letter-spacing: 0.025em;
}
.header__role{
  color: rgba(34,36,39,0.75);
  font-family: 'CGaramond';
}
.header__contact{
  font-size: 1em;
  text-align: right;
  color: rgba(34,36,39,0.75);
}
.sections{
  order: 2;
  flex-basis: auto;
  width: calc(100% - 290px);
}
.sidebar{
  width: 250px;
  margin-left: 40px;
  order: 3;
  flex-basis: auto;
}
.section{
  padding-top: 0px;
  padding-bottom: 20px;
}
.section p {
  margin: 0 0 0 0;
}
.section__label{

}
.section__label--border{
  font-family: 'AvenirDemi';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 9px;
  font-weight: 900;
  color: rgba(19,77,182,0.8);
  padding: 8px 0px 6px 0px;
  line-height: 1;
  border-top: 0.5px solid rgba(0,0,0,0.15);
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  margin-bottom: 10px;
}
.summary {
  padding-top: 4px;
}
.role{
  margin-bottom: 16px;
}
.role__header{
  margin: 4px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.role__title{
  font-family: 'AvenirDemi';
}
.role__company{
  margin-left: 6px;
  font-size: 0.95em;
  color: rgba(34,36,39,0.75);
}
.role__date{
  font-size: 0.925em;
  color: rgba(34,36,39,0.75);
  text-align: right;
}
.role__details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}
.role__detail{
  padding: 3px 0px 3px 0;
  margin-left: 12px;
  text-indent: -10px;
}
.role__detail::before{
  content: "-";
  padding-right: 3px;
  color: rgba(34,36,39,0.75);
}
.skill {
  padding: 4px 0px 4px 0px;
}
.skill__list--label{
  font-family: 'AvenirDemi';
}
.bottom{
  align-self: flex-end;
  order: 99;

}
.portfolio__label{
  padding-top: 12px;
  align-self: flex-end;
  font-size: 10px;
  line-height: 1.2;
  font-style: italic;
  color: rgba(34,36,39,0.75)
}
/*
span.alert {
  background: rgba(249,220,92,0.45);
}
*/
